* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 60%;
  }

  #img_photo{
    width: 100%;
    border-radius: 0%;
  }

  .row{
    text-align: left;
  }


  #text {
    font-size: 17px;
    padding-top: 10px;
    color: #8f8d8d;
    text-align: left
  }

    li{
        list-style:none;
    }

    base{
        position: relative;
    }

    header{
        position: relative;
        z-index: 40;
        
    }

  a:hover {
    background-color: rgba(162, 252, 191, 0.518);
    opacity: 0.5;
    border-radius: 60%;
    }

  nav{
    width: 100%;
    padding: auto;
    background-color:rgba(85, 146, 208, 0.303) ;
    /*box-shadow: 0 0 8px gray;*/
    border-bottom: 3px solid #3b6225e1;

  }
  .navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}

form:hover .dropdown{
  display: block;
}


.dropdown{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 40px;
  width: 100%;
  background-color: #ffff;
  overflow-y: scroll;
  border-radius: 4%;
}

/*
.dropdown{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 40px;
  width: 100%;
  position:absolute;
  top: 60px;
  
  background-color: #ffff;
  overflow-y: scroll;
  border-radius: 4%;
}*/

.dropdown a:hover{
    /*background-color: #a2e4f9;*/
    list-style: square;
    border-radius: 0%;
    width:100%;
    }


#dropdown-l{
  padding: 5px 0px;
	cursor: pointer;
	background-color: #ffff;
	height: 35px;
	/*line-height: 40px;*/
  width: 150px;
	color: #666;
  padding-left: 20px;
}

#dropdown-l :hover{
  background-color: #a2e4f9;
}

.dropdown-i{
    text-decoration: none;

}


  .leftdesign{
    position: absolute;
    z-index: 10;
    float: left;
    width: 40%;
    height:400px;
    padding: 0px;
    background-color: #fbe9bc;
    opacity: 0.5;
    
  }

  .rightdesign{
    position: absolute;
    z-index: 30;
    float: right;
    width: 60%;
    height: 20%;
    padding-left: 100px;
    opacity: 0.6;
  }

  .myname{
    position: relative;
    z-index: 20;
    padding-top: 80px;
    padding-left: 10px;
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    text-shadow: 3px 3px 3px #ababab;
    color: rgba(161, 98, 31, 0.973);    
  }

  .photo{
    position: relative;
    z-index: 20;
  }

  .contents{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
   /* height: 100px;*/
  }
  .contents1,.contents2{
    position: relative;
    z-index: 30;
  }

  .contact{
    font-weight: bolder;
  }
/*
.flex-container{
    display: flex;
    flex-wrap: wrap;
 }
 */


 #back_to_top{
 padding: 5px;
  flex: 50%;
  float: right;
 }

 #copyright{
  padding: 5px;
  flex: 50%;
  float: left;

 }
 #contact{
  padding: 40px;
}


    /*Extra small devices phone*/
  
  @media only screen and (max-width: 600px){
    footer{
      position: relative;
      height: 220px;
      background-color: #a2e4f9;
    }

    #footer_div{
      text-align: center;
    }
    #back_to_top,#copyright{
      flex: 100%;
      float: none;
    }

    #contact{
      padding: 10px;
    }
    #contact_leftdesign{
      height: 700px;
    }

  }

  @media only screen and (min-width: 600px){
    footer{
      position: relative;
      height: 180px;
      background-color:red ;
    }

    }

  @media only screen and (min-width: 1200px){
    footer {
      position: relative;
      width: 100% ;
      height: 200px;
  
      text-align: center;
      padding: 20px; 
      background-color: #ffff;
      bottom: 0;
  
      #back_to_end{
        float:right;
      }


     } 
    }  


  




